@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strok: 219, 219, 219;
  --focus-strok: 168, 168, 168;
  --secodary-background: 250, 250, 250;
  --secondary-text: 115, 115, 115;
  --primary-button: 0, 149, 246;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --link: 0, 55, 107;
}

body {
  font-size: 14px;
}

input:focus {
  outline: none;
}

.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  height: 581.15px;
  background: url("../../../public/phone-frame.png") no-repeat;
  background-size: 468.32px 634.15px;
  flex-basis: 468.32px;
  position: relative;
}

.slideshow {
  width: 250px;
  height: 541px;
  margin-top: 27px;
  position: absolute;
  overflow: hidden;
  right: 59px;

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &--active {
      opacity: 1; /* Make the active image visible */
    }
  }
}

.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 48px;
    gap: 5px;
  }
}

.bordered-input {
  border: 1px solid rgb(var(--strok));
  background: rgb(var(--secodary-background));
  border-radius: 4px;
  width: 100%;

  &__label {
    height: 36px;
    display: block;
    position: relative;
  }

  &__title {
    color: rgb(var(--secondary-text));
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 14px;
    right: 100%;
    transition: transform 0.3s;
    width: 100%;
    cursor: text;

    &--active {
      transform: scale(0.8) translate(-32px, -13px);
    }
  }

  &__input {
    background: transparent;
    padding: 9px 0px 7px 8px;
    font-size: 12px;
  }

  &:focus-within {
    border-color: rgb(var(--focus-strok));
  }
}

.flat-button {
  width: 100%;
  border-radius: 8px;
  position: relative;
  font-size: 14px;
  padding: 5px 0;
  overflow: hidden;
  &__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.1;
    }
  }

  &__text {
    font-weight: bold;
  }
}

.solid-card {
  border: 1px solid rgb(var(--strok));
}